# Dependencies
node_modules/
.pnpm-store/

# Builds
.next/
dist/
out/
build/
.turbo/

# Env
.env
.env.local
.env.*.local

# Prisma
packages/database/generated/

# Testing
coverage/
playwright-report/
test-results/

# Misc
.DS_Store
*.log
.vercel
.idea/
.vscode/
.env*
